{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row account-padding-above">
    <div class="col-2 marginator-left-article"></div>
    <div class="col-8 marginator-top justify-content-center">
      <h3 id="login-style-big">{% trans "Sign Up" %}</h3>

      <p id="login-style">{% blocktrans %}Welcome to the Birmingham Anchor. To leave a comment or like a post, sign up.{% endblocktrans %}</p>
    </div>
    <div class="col-2 marginator-right-article"></div>
  </div>
  <div class="row">
    <div class="col-2 marginator-left-article"></div>
    <div class="col-8 marginator-bottom justify-content-center">
      <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right" id="account-button-style" type="submit">{% trans "Sign Up" %}</button>
      </form>
    </div>
    <div class="col-2 marginator-right-article"></div>
  </div>
</div>
{% endblock %}