{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 marginator-left-title"></div>
            <div class="col-8 achor-text">
                <h1 class="article-title">{{ post.title }}</h1>
                <p class="article-byline">{{ post.byline }}</p>
                <p class="article-attributes">{{ post.author }} | {{ post.genre }}</p>
            </div>
            <div class="col-2 marginator-right-title"></div>
        </div>
    </div>
</div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-2 marginator-left-article"></div>
        <div class="col-8">
            <div class="article-body article-text">
                <p class="article-text">
                    {{ post.body | safe }}
                </p>
                <p class="post-date">First posted: {{ post.created_on }}</p>
                <p class="post-date">Last edited: {{ post.updated_on }}</p>
            </div>
        </div>
        <div class="col-2 marginator-right-article"></div>
    </div>
</div>
</div>

{% endblock content %}