/*** background style settings ***/

#bg-brum-blue {
    background-color: #c0d7ff;
}

#bg-brum-red {
    background-color: #F7CBC9;
}

/*** text styling ***/

.nav-text {
    color: #121417;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
}