/*** background style settings ***/

#bg-brum-blue-1 {
    background-color: #1F71FF;
}

#bg-brum-blue-2 {
    background-color: #c0d7ff;
}

#bg-brum-red {
    background-color: #F7CBC9;
}

/*** text styling ***/

.nav-text-title {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
}

.nav-text-links-top {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.nav-text-links-bottom {
    color: #3B403B;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}


/*** Nav inner element positioning ***/

.nav-text-padding-left {
    padding-left:50px;
}

.nav-text-padding-right {
    padding-right:50px;
}

/*** Item styling ***/

.news-item {
    border: none;
    background-color: transparent;
}

.item-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 100%;
    left: -2px;
    background-color: #534850;
}

.author {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300px;

}

/*** Overrides for Bootstrap padding and margins which always break ***/

.container-override {
    min-width: 100%;
}

.padding-margin-override {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.container {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.container-fluid {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.mt-3 {
    margin-top: 25%;
}