/*** background style settings ***/

#bg-brum-blue {
    background-color: #99BEFF;
}

#bg-brum-red {
    background-color: #F7CBC9;
}

/*** text styling ***/

.nav-text {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}