/*** background style settings ***/

#bg-brum-blue-1 {
    background-color: #1F71FF;
}

#bg-brum-blue-2 {
    background-color: #c0d7ff;
}

#bg-brum-red {
    background-color: #F7CBC9;
    height: 100%;
}

/*** text styling ***/

.nav-text-title {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
}

.nav-text-links-top {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.nav-text-links-bottom {
    color: #3B403B;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}


/*** Nav inner element positioning ***/

.nav-text-padding-left {
    padding-left:50px;
}

.nav-text-padding-right {
    padding-right:50px;
}

/*** Item styling ***/

.news-item {
    border: none;
    background-color: transparent;
}

.item-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 100%;
    left: -2px;
    background-color: #534850;
    border-radius: 20px;
    padding-left: 30px;
}

.author {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300px;
}

.post-link {
    text-decoration: none;
    color: #3B403B;
    padding-top: 40px;
}

.post-link:hover {
    text-decoration: none;
    color: #000000;
    padding-top: 40px;
}

/*** footer styling ***/

.footer-bottom {
    min-width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    left: 0;
}

/*** mt-3 override ***/

.mt-3 {
    margin-top: 25%;
}

