/*** background style settings ***/

#bg-brum-blue-1 {
    background-color: #1F71FF;
}

#bg-brum-blue-2 {
    background-color: #c0d7ff;
}

#bg-brum-red {
    background-color: #fff0ee;
    min-height: 100vh;
}

/*** text styling ***/

.nav-text-title {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
}

.nav-text-links-top {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.nav-text-title:hover {
    color: #a7a7a7;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 900;
    text-decoration: underline;
}

.nav-text-links-top:hover {
    color: #a7a7a7;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

.nav-text-links-bottom {
    color: #3B403B;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.nav-text-links-bottom:hover {
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

.footer-text {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
}

.white-anchor {
    color: #ffffff;
}

.anchor-text {
    color: #505750;
    margin-top: 100px;
}

.article-title {
    color: #505750;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    margin-top: 50px;
}

.article-byline {
    color: #505750;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

.article-attributes {
    color: #505750;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

/*** Nav inner element positioning ***/

.nav-text-padding-left {
    padding-left:50px;
}

.nav-text-padding-right {
    padding-right:50px;
}

/*** Item styling ***/

.news-item {
    border: none;
    background-color: transparent;
}

.item-container {
    position: relative;
}

.image-flash {
    position: relative;
    bottom: 5%;
    min-width: 100%;
    left: -2px;
    background-color: #534850;
    border-radius: 20px;
    padding-left: 30px;
}

.author {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300px;
    margin: 10px;
}

.post-link {
    text-decoration: none;
    color: #505750;
    padding-top: 40px;
    font-family: 'Noto Sans', sans-serif;
    min-height: 200px;
}

.post-link:hover {
    text-decoration: underline;
    color: #000000;
    padding-top: 40px;
    font-family: 'Noto Sans', sans-serif;
}

.item-text-byline {
    font-family: 'Noto Sans', sans-serif;
    color: #505750;
    font-weight: 400;
    min-height: 100px;
}

.item-text-genre {
    font-family: 'Noto Sans', sans-serif;
    color: #505750;
    font-weight: 400;
    min-height: 100px;
}

.item-text-date {
    font-family: 'Noto Sans', sans-serif;
    color: #555755;
    font-weight: 200;
    min-height: 100px;
}

/*** pagination button ***/

.page-link {
    background-color: #c0d7ff;
    border-color: #1F71FF;
    border-style: dashed;
    border-radius: 20px;
    color: #3B403B;
}

.page-link:hover {
    background-color: #3B403B;
    border-color: #1F71FF;
    border-style: dashed;
    border-radius: 20px;
    color: #c0d7ff;
}

/*** footer styling ***/

.footer-bottom {
    min-width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: auto;
}

/*** mt-3 override ***/

.mt-3 {
    margin-top: 25%;
}

